SPIELERPLUS_EMAIL=your-email@example.com
SPIELERPLUS_PASSWORD=your-password
SPIELERPLUS_TEAM_ID=your-team-id
PORT=3000
SCHEDULE_CRON=0 */15 * * * *
CACHE_FILE=./cache/events.json
# FILTERS='[{"path":"/training.ics","titleRegex":"Training"}]'
# CONFIG_FILE=./config.json
